.ava {
  width: 190px;
  height: 210px; 
  padding: 1em 1em 0 1em;
  border-radius: 50%;
  border: 1px solid #c0c4ea;
  background-color: #ffffff;
  box-shadow: -1px 2px 3px -2px #324a96;
  /* rgba(115,120,165,1); */
}
/* 
.avatar-block {
  width: 100%;
  border: #c0c4ea solid 2px;
  border-radius: 50%;
  margin-left: 15%;
  margin-top: 5%;
} */


.box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.child-one {
  grid-column: 1 / 3;
  text-align: left;
}
.child-two {
  grid-column: 3 / 5;
  text-align: left;
}


/*  VIEW BOX & CHILDRENS */
.view-box {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* grid-auto-rows: 240px 240px; */
}
.view-child-one {
  background: linear-gradient( white 50%, #e5fffc 50%);
  /* color: #4c4c64; */
  grid-column: span 7;
  padding-top: 3em;
  padding-bottom: 1em
}
.view-child-two {
  background-color: #e5fffc;
  grid-column: span 7;
  
}
.view-child-three {
  background-color: #e5fffc;
  grid-column: span 7;
}

/* BUTTON Childrens */

/* .btn-box {
  display: grid;
  grid-template-columns: repeat(12,1fr);
}

.child-btn-one {
  /* background-color: blue; */
  /* grid-column: 1 / 5;
}

.child-btn-two {
  /* background-color: yellow; */
  /* grid-column: 5 / 9;
}

.child-btn-three {
  /* background-color: red; */
  /* grid-column: 9 / 13;
  padding-right: 25%;
}  */ 
.text-styles {
  text-align: center;
  font-size: 2em;
  text-transform: capitalize;
  padding-bottom: 0.5em;
}
.item-span {
  margin-right: 0.5em;
} 
p {
  margin: 0;
}

.p-two {
  border-left: 1px solid #c0c4ea;
  padding-left: 1em;
}
.p-one {
  font-size: 1.2em;
  margin-top: 0.5em;
  color: #a8abc4;
  padding-bottom: 0.5em;
}
.p-three {
  padding-right: 1em;
}
.blank-div {
  width: 70%;
  height: 1px;
  background-color: #c0c4ea;
}

.insurance {
  font-size: 1.3em;
  margin-top: 1em;
  padding: 0.5em 0;
  background-color: #324a96;
  /* #a8abc4;  */
  color: #f7f7fa;
  width: 70%;
}