.avatar {
  width: 130px;
}
.avatar-h2{
  color: #7378a5;
}
.one, .two, .three {
  border: 2px solid #c0c4ea;
  border-radius: 5px;
  padding: 1.5em;
}

.two, .three {
  margin-left: 1em;
}

.ani {
  animation-name: slideInDown;
  animation-delay: 2s;
  animation-duration: 3s;
}