.avatar-block {
  display: block;
  width: 200px;
  height: 200px;
  border: #c0c4ea solid 2px;
  border-radius: 50%;
  margin-left: 15%;
  margin-top: 5%;
}

.profile-icon {
  width: 40%;
}
.policy-icon {
  width: 35%;
}

.graph-icon {
  width: 30%;
}

.box-benefit {
  /* background-color: azure; */
  /* border: 1px solid gray; */
  height: 320px;
}