


table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Istok Web', sans-serif;
  border: 1px solid #C4C4D3;
}

tbody tr:nth-child(odd) {
  background-color: #E4E4F8;
}
table tr th{
  padding: 0.5em;
}

tr td {
  padding: 0.5em 0;
}


.hide {
  display: none;
}

.item-span-2 {
  padding-right: 3em;
}

.item-span-3 {
  float: right;
}

.benefit-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid gray;
  padding: 1em;
}

.span-color {
  color: blue;
}



.p-styling {
  float: right;
}

.color-tr-header {
  background-color: #c0c4ea;
}

.col-color {
  background-color: #F7F7FA;
}

.fa-briefcase-medical {
  color: #89a3e5;
}


.policyParent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.parentElement {
  margin-top: 1em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.policyItems2 {
  padding-top: 2.2em;
  width: 45%;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}
.policyItems22 {
  width: 45%;
  justify-content: center;
  align-items: center;
  /* border: 2px solid pink; */
}

.policyItems3 {
  width:45%;
  justify-content: center;
  align-items: center;
  /* border: 2px solid blue; */
}

.policyItems4{
  justify-content: center;
  align-items: center;
  /* border: 2px solid blue; */
}