


table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Istok Web', sans-serif;
  border: 1px solid #C4C4D3;
}

tbody tr:nth-child(odd) {
  background-color: #E4E4F8;
}
table tr th{
  padding: 0.5em;
}

tr td {
  padding: 0.5em 0;
}


.hide {
  display: none;
}

.item-span-2 {
  padding-right: 3em;
}

.item-span-3 {
  float: right;
}

.benefit-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid gray;
  padding: 1em;
}

.span-color {
  color: blue;
}



.p-styling {
  float: right;
}

.color-tr-header {
  background-color: #c0c4ea;
}

.col-color {
  background-color: #F7F7FA;
}

.fa-briefcase-medical {
  color: #89a3e5;
}