.nav-link {
  width: auto;
  color:#7378a5;
  text-decoration: none;
  font-size: 1.3em;
  margin-right: 1em;
  border:none;
  outline:0;
}

.nav-link:hover {
  color: #4c4c64;
}

/* .nav-right {
  float: right;
} */

.logo {
  width: 80%;
}

