table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Istok Web', sans-serif;
  border: 1px solid #C4C4D3;
}

tr:nth-child(even) {
  background-color: #E4E4F8;
}
table tr th{
  padding-bottom: 0.5em;
}

tr td {
  padding: 0.5em 0;
}