.root-box {
  background-color: #ffffff;
  width: 900px;
  height: 500px;
  border: #c0c4ea solid 2px;
  padding: 1em;
  text-align: left;
}

.term{
  text-align: center;
  font-size: 1.5em;
  color: gray;
}